<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h3>Upload</h3>
            <form #uploadForm="ngForm" (ngSubmit)="upload($event, uploadForm.value)">
                <p>
                    <label>File</label>
                    <input type="file" name="file"
                           ngModel>
                </p>
                <p>
                    <label>Title:</label>
                    <input type="text" name="title"
                           ngModel required>
                </p>
                <p>
                    <label>description:</label>
                    <input type="text" name="description"
                           ngModel>
                </p>
                <p>
                    <button type="submit" [disabled]="!uploadForm.valid">Submit</button>
                </p>
            </form>
        </div>
    </div>
</div>