<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <ul>
            <li [hidden]="!this.loginService.logged">
                <a [routerLink]="'/front'">Front page</a>
            </li>
            <li [hidden]="this.loginService.logged">
                <a [routerLink]="'/login'">Login</a>
            </li>
            <li [hidden]="this.loginService.logged">
                <a [routerLink]="'/register'">Register</a>
            </li>
        </ul>
    </div>
</nav>